#app {
  max-width: 1400px;
  margin: 0 auto;
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 800px) {
  #app {
      flex-direction: column;
  }

  #app main {
      width: 100%;
  }
}